#**Conditional Statements, Loop, Count & Function**

## Table of Contents
- [Section 6: The 'if, elif, and else' Function](#section6)
  - [section 6.1: The if Statement](#subsection6.1)
  - [section 6.2: The else Statement](#subsection6.2)
  - [section 6.3: The elif Statement](#subsection6.3)
  - [section 6.4: if-elif-else Ladder](#subsection6.4)
  - [section 6.5: 'and' and 'or' Operators](#subsection6.5)
  - [section 6.6: Input Function In Conditional Statements](#subsection6.6)
  - [section 6.7: Nested Statements](#subsection6.7)
- [Section 7: Loop Function](#section7)
  - [section 7.1: The Importance of Loop Function](#subsection7.1)
  - [section 7.2: 'for' Loop Function](#subsection7.2)
  - [section 7.3: 'while' Loop Function](#subsection7.3)
  - [section 7.4: Nested Loop](#subsection7.4)
- [Section 8: Count Function](#section8)
  - [section 8.1: Count Occurrences of a Specific Element](#subsection8.1)
  - [section 8.2: Count Even Numbers in A List](#subsection8.2)
  - [section 8.3: Count Vowels in A String](#subsection8.3)
- [Section 9: Function](#subsection8.4)
  - [section 9.1: Defining A Function](#subsection8.5)
- [Exercise](#subsection)

## **Section 6: The 'if, elif, and else' Functions**

### Section 6.1: The if Statement

In [ ]:
country = 'Malaysia'
if country == 'Malaysia': #True
  print ('Country is Malaysia')

Country is Malaysia

In [ ]:
country = 'Malaysia'
if country == 'Singapore': #False
  print ('Country is Singapore')

### Section 6.2: The else Statement

In [ ]:
country = 'Malaysia'
if country == 'Singapore': #False
  print ('Country is Singapore')

else: #Else will always work because else is like the worst case result
  print ('Country is Malaysia')

Country is Malaysia

### Section 6.3: The elif Statement

In [ ]:
country = 'Malaysia'
if country == 'Singapore': #False
  print ('Country is Singapore')

elif country == 'Thailand': #False
  print ('Country is Thailand')

else: #Else will always work because else is like the worst case result
  print ('Country is Malaysia')

Country is Malaysia

### Section 6.4 if-elif-else Ladder

The if-elif-else ladder is used when you have multiple conditions to check in sequence. Only one block of code will be executed, and as soon as a true condition is found, the subsequent elif and else statements are not checked.

In [ ]:
if condition1:
    # Code to execute if condition1 is true
elif condition2:
    # Code to execute if condition1 is false and condition2 is true
elif condition3:
    # Code to execute if condition1 and condition2 are false and condition3 is true
else:
    # Code to execute if all the above conditions are false

**Example of if-elif-else ladder**

In [ ]:
country = 'Malaysia'
if country == 'Singapore': #False
  print ('Country is Singapore')

elif country == 'Thailand': #False
  print ('Country is Thailand')

elif country != 'Singapore': #True
  print ('Country is Unknown')

else: #Else will always work because else is like the worst case result
  print ('Country is Malaysia')

Country is Unknown

### Section 6.5: 'and' and 'or' Operators

 'and' and 'or' are used to combine multiple conditions in a single if, elif, or else statement.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsTable.png" width="650" />

**Section 6.5.1: 'and' Operator** </p>
* **Purpose:** To combine two or more conditions
* **Rules:** ALL conditions must be TRUE for the combined condition to be TRUE

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020: #false (one is false then the answer will always be false)
  print ('Country is Malaysia and year is 2020')

**Section 6.5.2: 'or' Operator** </p>
* **Purpose:** To combine two or more conditions
* **Rules:** At least ONE condition must be TURE for the combined condition to be TRUE

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' or year == 2020: #(either one is true, then it is considered TRUE)

  print ('Country is Malaysia and year is 2020')

Country is Malaysia and year is 2020

**Note: Not Equal To Symbol** </p>
* != symbol in Python is the "not equal to" operator
* It is used to compare two values to check if they are different from each other
* If the values are not equal, the operator returns True; otherwise, it returns False.

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' or year != 2020: #True

  print ('Country is Malaysia and year is 2020')

Country is Malaysia and year is 2020

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year > 2020: #true

  print ('Country is Malaysia and year is 2020')

Country is Malaysia and year is 2020

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020: #False
  print ('Country is Malaysia and year is 2020')

elif country == 'Malaysia' and year > 2020: #True
    print ('Country is Malaysia and year is earlier than 2020')

Country is Malaysia and year is earlier than 2020

In [ ]:
#Write a code for finding the even and odd numbers
num = 11
if num %2 == 0:
  print ('The number is even')
else:
  print (' The number is Odd')

 The number is Odd

### Section 6.6: Input Function In Conditional Statements

In [ ]:
input_num = input ('Enter a number: ')
input_num = int(input_num)
if input_num %2 == 0:
  print ('The number is even')
else:
  print (' The number is Odd')

Enter a number: 12
The number is even

### Section 6.7: Nested Statements (if, elif, else)

Nested if Statements: Allows for more complex conditions by nesting if, elif, and else statements within each other

In [ ]:
price = 1000
car = 'Proton'

if price > 500: #TRUE
  if price == 700: #FALSE
    print ('The price is more than 700')

  else:
    if price == 100 or car == 'Proton': #TRUE
      print ('Car is Proton')

    else:
      print ('Price and Car are unknown')

Car is Proton

**ERROR ALERT!!**

Make sure the **indentation** (empty space) is correct </p>
This is a nested statment, so the statement should be inside the statement </p>
The syntax error currently shows that line 12 is wrong and should be nested inside the above statements

In [ ]:
price = 1000
car = 'Proton'

if price > 500: #TRUE
  if price == 700: #FALSE
    print ('The price is more than 700')

  else:
    if price == 100 or car == 'Proton': #TRUE
      print ('Car is Proton')

  else:
    print ('Price and Car are unknown')

SyntaxError: invalid syntax (<ipython-input-47-14a926bbaa4a>, line 12)

## **Section 7: Loop Function**

 Using a loop makes it much more practical and efficient to perform repetitive tasks like printing the elements of a list

### Section 7.1: The Importance of loop function

**Below is an example of not the best way to write a code** </p>

* Repeating the code might increase risk of error
* When the same code is repeated in multiple places, maintaining and updating the code becomes more challenging.

In [ ]:
list_num = [100, 200, 300, 400, 500]

print (list_num[0])
print (list_num[1])
print (list_num[2])
print (list_num[3])
print (list_num[4])

100
200
300
400
500

### Section 7.2: 'for' Loop Function

A 'for' loop is ideal for iterating over the elements of a list.

In [ ]:
list_num

[100, 200, 300, 400, 500]

**Ways to write 'for' loop function:**

* **for** *( 'i' a.k.a item)* **in list_name**

In [ ]:
for i in list_num: #first round will execute 100, then loop, second round will execute 200, then loop until list is done
  print (i)

100
200
300
400
500

### Section 7.2.1: 'for' Loop With 'range' Function

The range function generates a sequence of numbers, which is useful for iterating over a sequence of numbers.

* Explanation: This loop will print numbers from 1 to 9.
* So the range is set to "*range(1,10)*" generates the sequence [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for num in range(1,10): #this code will loop and print (start,end) except the last number
  print(num)

1
2
3
4
5
6
7
8
9

### **Exercise**

In [ ]:
numbers = [1,2,3,4,5,6]

#Write a code to print all the numbers below 5
for num in numbers:
  if num < 5:
    print (num)

1
2
3
4

In [ ]:
numbers1 = [-1,2,1,3,5,4,0]

#write a code to print all the numbers below 5
for i in numbers1:
  if i < 5:
    print (i)

-1
2
1
3
4
0

In [ ]:
d1 = {'A1': -10, 8.8: ['ML','DL']}

In [ ]:
for i in d1:
  print (i)

A1
8.8

In [ ]:
for i in d1.values():
  print (i)

-10
['ML', 'DL']

### Section 7.3: 'while' Loop Function

In [ ]:
numbers = [1,2,3,4,5,6]

#Write a code to print all the numbers below 5 by using while loop

i = 0 #1 #2 #3 #4 #5
num = None  #1 #2 #3 #4 #5

while (num!=4): #True #True #True #True #False
  num = numbers[i] # equals to 1
  i = i + 1
  print (num)

1
2
3
4

### Section 7.4: Nested Loop

For loop to run inside a loop

In [ ]:
#nested loop

names = ['Mohammed','Noor', 'Chyrel']

for a in names:
  print (a) #outputs Mohammed

  for b in (a): #outputs 'M' 'o' 'h' etc
    print (b)

  print ('') #outputs a blank line.

Mohammed
M
o
h
a
m
m
e
d

Noor
N
o
o
r

Chyrel
C
h
y
r
e
l

In [ ]:
#write a a code to print only the even numbers in range of numbers 20

for i in range(21):
  if i %2 == 0:  #modulus %2 helps get even number
    print (i)

0
2
4
6
8
10
12
14
16
18
20

### Section 7.4.1: How Important the Indentation in Nested Loop

* Observe the positon of the 'print' command and how it can affect the outcome

In [ ]:
#create a list of those even numbers in the range of 20

list_even= []

for i in range(21):
  if i %2 == 0:
    list_even.append(i)

  print (list_even) #The print code is within the nested loop

[0]
[0]
[0, 2]
[0, 2]
[0, 2, 4]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Note:** Below is the same code as above but the 'print' command is outside the nested loop

In [ ]:
list_even= []

for i in range(21):
  if i %2 == 0:
    list_even.append(i)

print (list_even) #The print code is outside the nested loop so the list will only be print when the loop is done (reach 21)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Given a list of numbers, write a code to calculate the sum of even numbers in that list**

In [ ]:
#Given a list of numbers, write a code to calculate the sum of even numbers in that list

list_even= []

for i in range(21):
  if i %2 == 0:
    list_even.append(i)

print (sum(list_even))

110

## **Section 8: Count Function**

* To define a function named count that can count occurrences of elements in an iterable (like a list or string), we need to specify what exactly we want to count.
* count = 0 (*depends on scenarios we can define 'count' as something else*)

**Examples:**
* sum_even = 0
* sum_vowels = 0

### Section 8.1: Count Occurrences of a Specific Element

In [ ]:
list3 = [1, 2, 3, 2, 4, 2, 5]
count = 0  # Initialize count variable
for i in list3:
  if i == 2:
    count += +1

print(count) #how many occurance of '2' from the list

3

### Section 8.2: Count Even Numbers in a List

In [ ]:
#Count sum of even number in a list

list_num = range(10)

sum_even = 0

for i in list_num:
  if i % 2 == 0:
    sum_even = sum_even + i

print (sum_even)

20

In [ ]:
#Dr Obay's code:

sum_even = 0

for i in range(10):
  if i % 2 == 0:
    sum_even = sum_even + i

print ('The sum of all even numbers are:',sum_even)

The sum of all even numbers are: 20

### Section 8.3: Count Vowels in a String

Given a string, write a code to calculate the number of vowels (a,e,i,o,u) in the string.

The string is: 'Hello World'

In [ ]:
string = 'Hello World'

vowels = ['a','e','i','o','u']

sum_vowels = 0

for i in string:
  if i in vowels:
    sum_vowels = sum_vowels + 1

print (sum_vowels)

3

In [ ]:
#Jawapan Dr:

string = 'Hello World'

vowels = ['a','e','i','o','u']

count_vowels = 0

for vow in string.lower(): #noticed how we used string.lower
  if vow in 'a,e,i,ou':
    count_vowels += 1 #this mean count_vowels+1

print ('The number of vowels are:',count_vowels)

The number of vowels are: 3

**ALERT!!!** </p>

string.lower is used because python is case sensitive, so uppercase letter is not counted,</p>
so string.lower will convert the string to become lowercase then it will be countred

In [ ]:
string = 'Artificial Intelligence'

vowels = ['a','e','i','o','u']

count_vowels = 0

for vow in string:
  if vow in 'a,e,i,ou':
    count_vowels += 1 #can also write as (count_vowels + 1)

print ('The number of vowels are:',count_vowels)

The number of vowels are: 8

## **Section 9: Function**

### Section 9.1: Defining A Function

To define a **function** in Python, follow these steps:

* Use the def keyword.
* Write the function name.
* Add parentheses () which can include parameters.
* End the line with a colon :.
* Indent the body of the function and write the code to be executed.
* You can also include a docstring (enclosed in triple quotes ''') to describe the function.
* Python ignores anything written within the docstring, but it is useful for documentation.

In [ ]:
#Basic Syntax
def funcname(arguments):
    '''
    This is a docstring.
    Describe what the function does here.
    '''
    # Body of the function
    # Your code goes here

**Example:**

In [ ]:
def first_fun():
  '''
This is my first function
  '''
print ('This is my first function')

This is my first function

In [ ]:
def sum_num(a,b):
  ''' this function is about summing two numbers'''

  c = a +b
  print (c)

In [ ]:
sum_num(10,5)

15

**ERROR ALERT!!** </p>

Know the function that you wrote **sum_num(a,b)** so the below command is an error because there is no second input

In [ ]:
sum_num(10)

TypeError: sum_num() missing 1 required positional argument: 'b'

**Note: Since we did not define the type of variable 'a' and 'b'**
* so it can be a str, int, float

In [ ]:
sum_num('Big','Data')

BigData

In [ ]:
def sum_num2(a,b):
  ''' this function is about summing two numbers'''
  c = float(a)+ float(b)
  print (c)

In [ ]:
sum_num2(10.2,13.5)

23.7

**ERROR ALERT!!**</p>

* Now that we defined the type of variable for **'a' and 'b'** as float.
* Then we need to input a float, the sum_num2 can't output string

In [ ]:
sum_num2('Big','Data')

ValueError: could not convert string to float: 'Big'

**Note:** The output will also be a float (Decimal) because we had defined variable 'a' and 'b' as float

In [ ]:
sum_num2(1,2)

3.0

**Key Differences Between 'return' and 'print'** </p>

* **Functionality:**
  * **return** sends a value back to the caller and terminates the function execution.
  * **print** outputs a value to the console but does not affect function execution or return values.

* **Context:**
  * **return** is used inside functions to send a result back.
  * **print** can be used anywhere to display information to the user.

* **Effect on Function:**
  * **return** can determine the outcome of a function and can be used to pass data between functions.
  * **print** is primarily used for debugging or displaying information and has no effect on function results or data flow.

In [ ]:
def multi_num(a,b,c):
  d = a*b*c
  return(d)

**print vs return**

To summarize, "print" is used to output values to the console for debugging or informational purposes, while "return" is used to send a value back from a function to the calling code. If you want to use the result of a function in other parts of your code, you need to use "return" to make that value available outside the function.



*print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions.*

## **Exercise**

In [ ]:
multi_num(10,1,2)

20

write a function to find the even and odd numbers

In [ ]:
def even_odd(num):
  iput
  if num %2 == 0:
    print ('The number is even')
  else:
    print ('The number is odd')

In [ ]:
even_odd(10)

The number is even

In [ ]:
def even_odd():
  input_num = input ('Enter a number: ')
  input_num = int(input_num)
  if input_num %2 == 0:
    print ('The number is even')
  else:
    print (' The number is Odd')

In [ ]:
even_odd()

Enter a number: 100
The number is even

**Write a function to find the highest value in a list of numbers without using other functions.**

In [ ]:
def max_num(list):
  max_num = 0
  for i in list:
    if i > max_num:
      max_num = i
  return max_num

In [ ]:
list_num = [100,200,300,120,233,45,123,76,453,943,600]
max_num(list_num)

943

In [ ]:
# Jawapan Dr

list_num2 = [100,0,5,200,-20,8.8]

highest = list_num2[0] #100 #200
for i in list_num2:
  if i > highest: #100 #0 #5 #200 #-20 #8.8
    highest = i
print ('The highest value in the list is:', highest)

The highest value in the list is: 200

Define a function to find the highest and the lowest in the list

In [ ]:
list_num2 = [100,0,5,200,-20,8.8]

highest = list_num2[0]
lowest = list_num2[0]

for i in list_num2:
  if i > highest:
    highest = i
  if i < lowest:
    lowest = i

print ('The highest value in the list is:', highest)
print ('The lowest value in the list is:', lowest)

The highest value in the list is: 200
The lowest value in the list is: -20

In [ ]:
def min_max(list):
  highest = list[0]
  lowest = list[0]

  for i in list:
    if i > highest:
      highest = i
    if i < lowest:
      lowest = i

  print ('The highest value in the list is:', highest)
  print ('The lowest value in the list is:', lowest)

In [ ]:
min_max(list_num)

The highest value in the list is: 943
The lowest value in the list is: 45

In [ ]:
%whos

Variable       Type        Data/Info
------------------------------------
List_num2      list        n=6
a              str         Chyrel
b              str         l
b1             int         1
b2             int         0
b3             int         1
b4             int         2
car            str         Proton
count          int         3
count_vowels   int         8
country        str         Malaysia
d1             dict        n=2
even_odd       function    <function even_odd at 0x796d3c7fc040>
first_fun      function    <function first_fun at 0x796d3c7ffe20>
highest        int         200
i              int         2
input_num      str
list           list        n=4
list_even      list        n=11
list_i         list        n=11
list_num       list        n=11
list_num2      list        n=6
lowest         int         -20
max_num        function    <function max_num at 0x796d3c7ff5b0>
min_max        function    <function min_max at 0x796d3c90e3b0>
multi_num      function    <function multi_num at 0x796d3c94a710>
my_function    function    <function my_function at 0x796d3c949750>
n              list        n=5
names          list        n=3
num            int         4
numbers        list        n=6
numbers1       list        n=7
numbers2       list        n=14
price          int         1000
string         str         Artificial Intelligence
sum_even       int         20
sum_num        function    <function sum_num at 0x796d3c7ff400>
sum_num2       function    <function sum_num2 at 0x796d3c7feb00>
sum_numb2      function    <function sum_numb2 at 0x796d3c7fc430>
sum_vowels     int         3
vow            str         e
vowels         list        n=5
year           int         2024

In [ ]:
min_max(list_i)

The highest value in the list is: 20
The lowest value in the list is: 0

In [ ]:
min_max(numbers1)

The highest value in the list is: 5
The lowest value in the list is: -1

Write a function to sum the even numbers in a list of numbers

In [ ]:
def sum_even(list_num):
  count_even = 0

  for i in list_num:
    if i %2 == 0:
      count_even += i

  print ('The total sum of even numbers are: ', count_even)

In [ ]:
sum_even(list_i)

The total sum of even numbers are:  110

### Defining Missing Value Function

In [ ]:
#find the missing value in the list below

list_missing = [1,4,3,2,5,8,7]

list_missing.sort()
print(list_missing)

for i in range(list_missing[0],list_missing[-1]+1):
  if i not in list_missing:
    print (i)

[1, 2, 3, 4, 5, 7, 8]
6

In [ ]:
#Jawapan Dr:

def missing_value(list_missing_value):

  list_missing_value = sorted(list_missing_value)

  #[1,2,3,4,5,7,8]

  for i in range(1,len(list_missing_value)):
    if list_missing_value[i] - list_missing_value[i-1] != 1:
      print ('The missing value is:', (list_missing_value[i] -1))
      #return list_missing_value[i] - 1
    #else
      #print ('There is no missing value')

  return None

In [ ]:
missing_value(list_missing)

The missing value is: 6

### Defining Remove Duplicates Function

In [ ]:
#write a function to remove duplicates from a list of numbers

list_duplicate = [100, 20, -30, 100, 20, 0, -30]

def remove_duplicates(list):
  list_unique = []
  for i in list:
    if i not in list_unique:
      list_unique.append(i)
  return list_unique
    # if i not in list_unique:  # This block of code is unnecessary and was causing the error due to indentation.
    #   list_unique.append(i)
    #   return list_unique

In [ ]:
remove_duplicates(list_duplicate)

[100, 20, -30, 0]

In [ ]:
list_duplicate2 = [5,5,5,5,1,1]

remove_duplicates(list_duplicate2)

[5, 1]

In [ ]:
#Jawapan Dr: ## MORE ACCURATE RESULT

list_duplicate_4 = [150, 400, -900, 150, 210, 400, -300]

def remove_dup(x):
  new_list = []
  for i in x:
    if i not in new_list:
      new_list.append(i)
  return (new_list)

In [ ]:
remove_dup(list_duplicate_4)

[150, 400, -900, 210, -300]

In [ ]:
## LESS ACCURATE RESULT

list_duplicate_5 = [250, 500, -600, 250, 310, 500, -900]

def remove_dup5(x):
  for i in x:
    if x.count(i) > 1:
      x.remove(i)

  return(x)

In [ ]:
remove_dup5(list_duplicate_5)

[-600, 250, 310, 500, -900]

In [ ]:
new_list6= [5,5,5,5,1,1]
remove_dup5(new_list6)

[5, 5, 1]